/* styles.css */

.containerInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.containerInput input, .containerInput button {
  padding: 10px;
  font-size: 16px;
}

.container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.container p {
  margin: 0;
  margin-bottom: 10px;
}

.container button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: #ddd;
}